@import "~sass-rem";
@import "../../../variables";

.Frameworks {
  display: flex;
  flex-wrap: wrap;

  &__item {
    background-color: rgba(32, 33, 34);
    color: #f2f2f2;
    width: rem(144px);
    height: rem(40px);
    border-radius: rem(16px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(16px) rem(8px);
    font-weight: normal;
    font-size: rem(14px);

    @media (max-width: $lg-breakpoint) {
      margin-left: rem(1px);
      margin-right: rem(1px);
    }
  }
}
