@import "~sass-rem";

.Index {
  height: fit-content;
  padding: rem(80px) rem(64px);
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
}

.Introduction {
  position: sticky;
  height: fit-content;
  top: rem(24px);

  &__header {
    font-size: rem(72px);
  }

  &__description {
    color: #bdbdbd;
  }

  &__navigation {
    margin-top: rem(56px);
  }
}

.Info {
  .Personal-projects {
    min-height: rem(720px);
  }

  .Skills,
  .Contact {
    min-height: rem(560px);
  }

  .Skills {
    &_languages {
      margin: rem(40px) 0;
    }
  }
}
