@import "~sass-rem";
@import "../../variables";

.Index {
  height: fit-content;
  padding: rem(80px) rem(64px);
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;

  @media (max-width: $lg-breakpoint) {
    display: flex;
    flex-direction: column;
    padding-left: rem(40px);
    padding-right: rem(40px);
  }
}

.Introduction {
  position: sticky;
  height: fit-content;
  top: rem(24px);

  @media (max-width: $lg-breakpoint) {
    position: initial;
  }

  &__header {
    font-size: rem(72px);

    @media (max-width: $lg-breakpoint) {
      font-size: rem(56px);
    }
  }

  &__description {
    color: #bdbdbd;
  }

  &__navigation {
    margin-top: rem(56px);
  }
}

.Info {
  .Personal-projects {
    min-height: rem(720px);
  }

  .Skills,
  .Contact {
    min-height: rem(560px);
  }

  .Contact {
    @media (max-width: $lg-breakpoint) {
      min-height: inherit;
    }
  }

  .Skills {
    &_languages {
      margin: rem(40px) 0;
    }
  }

  &_section {
    margin-bottom: rem(64px);
  }
}
