@import "~sass-rem";
@import "../../../variables";

.Contact {
  &__list {
    list-style: none;
    margin: 0;

    &__item {
      display: flex;
      align-items: center;
      font-size: rem(18px);
      font-weight: normal;
      padding: rem(12px) 0;

      &-link {
        color: inherit;
        text-decoration: none;
        margin: 0 rem(8px);

        @media (max-width: $lg-breakpoint) {
          word-break: break-all;
        }

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
